/********************* Root variables *********************/
:root{
    /* Colors */
    /*  Primay */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    /*  Neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(179, 100%, 13%);
    /* Font-sizes */
    --fs-h2: 2rem;
    --fs-p: 0.95rem;
    --fs-btn: 1.1rem;
}

/********************* Reset *********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************* General *********************/
body{
    background-color: var(--transparent-white);
}
.bg-sedan{
    background-color: var(--bright-orange);
}
.bg-suv{
    background-color: var(--dark-cyan);
}
.bg-luxury{
    background-color: var(--very-dark-cyan);
}
.pos-to-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/********************* Flexbox *********************/
.d-flex{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

/********************* Main classes *********************/
.container{
    max-width: 1400px;
}
.container .elem{
    width: calc(100% / 3);
    padding: 3rem;
}
.container .elem h2{
    font-size: var(--fs-h2);
}
.container .elem p{
    font-size: var(--fs-p);
}
.container .elem button{
    font-size: var(--fs-btn);
}
