/********************* Root variables *********************/
:root{
    /* Colors */
    --h2-color: white;
    /*  Primay */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    /*  Neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(179, 100%, 13%);
    /* Font-sizes */
    --fs-h2: 2.5rem;
    --fs-p: 0.95rem;
    --fs-btn: 0.95rem;
    /* Border radius */
    --br-elements: 7px;
}

/********************* Reset *********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

/********************* General *********************/
body{
    background-color: var(--transparent-white);
}
.bg-sedan{
    background-color: var(--bright-orange);
}
.bg-suv{
    background-color: var(--dark-cyan);
}
.bg-luxury{
    background-color: var(--very-dark-cyan);
}
.txt-sedan{
    color: var(--bright-orange);
}
.txt-suv{
    color: var(--dark-cyan);
}
.txt-luxury{
    color: var(--very-dark-cyan);
}

/********************* Flexbox *********************/
.d-flex{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
}

/********************* Main classes *********************/
.container{
    width: 100%;
    min-height: 100vh;
    padding: 6rem 1rem;
}
.container .elem{
    width: 310px;
    padding: 3rem;
}
.container .elem h2{
    font-size: var(--fs-h2);
    color: var(--h2-color);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    margin: 2rem 0;
}
.container .elem p{
    font-size: var(--fs-p);
    color: var(--transparent-white);
    line-height: calc(var(--fs-p) + 0.6rem);
    margin-bottom: 5rem;
    padding-right: 0.2rem;
}
.container .elem button{
    font-size: var(--fs-btn);
    text-transform: capitalize;
    width: 150px;
    padding: 0.7rem;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all 0.2s linear;
}
.container .elem button:hover{
    border: 2px solid var(--h2-color);
    color: var(--h2-color);
    background-color: transparent;
    cursor: pointer;
}
.container .elem:first-child{
    border-radius: var(--br-elements) 0 0 var(--br-elements);
}
.container .elem:last-child{
    border-radius: 0 var(--br-elements) var(--br-elements) 0;
}

/********************* Media queries to adjust border-radius *********************/
/* When there are 2 element in first row and 1 in second. */
@media screen and (max-width: 978px) {
    .container .elem:first-child{
        border-radius: var(--br-elements) 0 0 var(--br-elements);
    }
    .container .elem:nth-child(2){
        border-radius: 0 var(--br-elements) var(--br-elements) 0;
    }
    .container .elem:last-child{
        border-radius: 0 0 var(--br-elements) var(--br-elements);
    }
}
/* When there are 3 rows each with 1 element. */
@media screen and (max-width: 668px) {
    .container .elem:first-child{
        border-radius: var(--br-elements) var(--br-elements) 0 0;
    }
    .container .elem:nth-child(2){
        border-radius: 0;
    }
    .container .elem:last-child{
        border-radius: 0 0 var(--br-elements) var(--br-elements);
    }
}
